[Unit]
Description=Mensch.Id API

[Service]
WorkingDirectory=/var/www/Mensch.Id.API
ExecStart=/usr/bin/dotnet /var/www/Mensch.Id.API/Mensch.Id.API.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-mensch-id
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
EnvironmentFile=/home/www-data/mensch-id-environment.conf

[Install]
WantedBy=multi-user.target
